{% extends "main/base.html" %}
{% load static %}
  
 {% block content %}

    <main>
        <section class="portfolio">
            <h1>Project</h1>
            <div class="portfolio-filters">
                <button class="filter-btn active">All</button>
               
            </div>

            <div class="portfolio-grid">
                {% for p in proj %}
                    <div class="portfolio-item">
                        {% if p.image %}
                            <img src="{{ p.image.url }}" alt="{{ p.title }}">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                        <div class="portfolio-item-overlay">
                            <a href="{% url 'about:post_detail' p.id %}" style="text-decoration: none;color: aliceblue;"><h3>{{p.category}}</h3></a>
                            <h2>{{p.title}}</h2>
                          
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </section>
    </main>

{% endblock %}