{% extends "main/base.html" %}
{% load static %}
  
 {% block content %}





<main>
    <section class="story">
        <h1>My Journey</h1>
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-content">
                    <span class="year">2020</span>
                    <h3>Beginning of University</h3>
                    <p>Started studying Computer Science, driven by a passion for technology and programming.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <span class="year">2024</span>
                    <h3>Graduation Project</h3>
                    <p>Developed a major project showcasing advanced skills, eager to learn and explore new areas in the field.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <span class="year">2024</span>
                    <h3>Python Bootcamp (Django)</h3>
                    <p>Enrolled in a Python bootcamp focusing on Django, scheduled to finish on 12/19.</p>
                </div>
            </div>
        </div>

        <blockquote>
            "My ambition is to harness the power of technology to create solutions that make a real difference in people’s lives."
          
        </blockquote>
        <h1>skills</h1>
        <blockquote>
            <div class="skills">
                <div class="skill-icon">
                  <i class="fab fa-java"></i>
                  <span>Java</span>
                </div>
                <div class="skill-icon">
                  <i class="fab fa-html5"></i>
                  <span>HTML</span>
                </div>
                <div class="skill-icon">
                  <i class="fab fa-css3-alt"></i>
                  <span>CSS</span>
                </div>
                <div class="skill-icon">
                  <i class="fab fa-python"></i>
                  <span>Python</span>
                </div>
              </div>
          
        </blockquote>
    </section>
</main>
{% endblock %}