{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <title>{% block title %}Home{% endblock %}</title>
    <!DOCTYPE html>
    <html lang="en">
 
    <body>
      <nav>
          <div class="nav-content">
              <div class="logo">MISHAl.</div>
              <input type="checkbox" class="toggle" id="toggle" style="display: none;" />
              <ul class="nav-links">
                  <li><a href="{% url 'about:home_view'%}" >Home</a></li>
                  <li><a href="{% url 'about:portfolio_view'%}">Project</a></li>
                  <li><a href="{% url 'about:story_view'%}">Story</a></li>
                  <li><a href="{% url 'about:game_view'%}">games</a></li>
                  <li><a href="{% url 'main:contact_view'%}">Contact</a></li>
              </ul>
              <label class="menu-btn" for="toggle">☰</label>
              
          </div>
      </nav>

      <main>
        {% block content %}{% endblock %}
      </main>

   
      <footer>
        <div class="social-links">
            <a href="#" title="Twitch"><i class="fab fa-twitch"></i></a>
            <a href="#" title="YouTube"><i class="fab fa-youtube"></i></a>
            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" title="Discord"><i class="fab fa-discord"></i></a>
            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
        </div>
        <p class="footer-text">Follow me on social media for more gaming content!</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    </body>
    
            
   
  